<!DOCTYPE html>
<html>
<head>
  <title>Artengine</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= render 'angular' %>
  <%= yield :angular %>
</body>
</html>
