<!DOCTYPE html>
<html>
<head>
  <title>Artengine</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application'  %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'angular/angular-strap.tpl.min' %>

  </head>
<body ng-app="mainModule">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <div class="container-fluid">
    <%= yield %>
  </div>


  <%= render 'angular' %>
  <%= yield :angular %>
</body>
</html>
